.search-page-container {
  background-color: #f7f7f7; 
  min-height: 120vh;
  padding-top: 80px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin-top: 0;
  font-size: 30px !important;
  color: #333;
  
}

.second-page-title {
  margin-top: 3%;
  font-size: 30px !important;
  color: #333;
  
}

.search-wrapper {
  background: #ffffff;
  display: flex; 
  align-items: center;
  padding: 20px 10px;
  border-radius: 15px; 
  max-width: 900px;
  width: 100%;
  gap: 12px;
  flex-shrink: 0;
}


.search-field {
  background-color: #f3f4f6;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 90px;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.3s;
}

.search-field:hover {
  filter: brightness(0.95);
}

.search-field:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-field label {
  font-size: 13px;
  padding-left: 10px;
  font-weight: normal; 
  color: #777; 
  margin-bottom: 1; 
  letter-spacing: 0;
  align-self: flex-start;
}

.search-field input {
  padding-left: 10px;
  display: flex;
  border: none;      
  outline: none;     
  font-size: 16px;
  color: #555;
  width: 100%;
  background: transparent;
}

.search-button {
  background-color: rgb(255, 221, 45); 
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px; 
  padding: 10px 40px;
  flex: 0.8 1 0;
  font-size: 16px;
  cursor: pointer;
  transition: filter 0.3s;
  margin-left: 10px;
}

.search-button:hover {
  filter: brightness(0.95);
}





.feature-boxes {
  display: flex;
  justify-content: space-between; 
  gap: 30px; 
  margin-top: 40px; 
  max-width: 900px; 
  width: 100%;
  padding: 0 10px;
}

.feature-box {
  flex-direction: column;
  display: flex; 
  align-items: flex-start; 
  flex: 1; 
  gap: 15px; 
  background-color: rgb(233,233,233);
  border-radius: 15px;
  text-align: left;
}

.feature-icon {
  font-size: 28px;
  color: #ff5a5f; 
  flex-shrink: 0; 
  padding-top: 2px; 
  margin-left: 10%;
}

.feature-title {
  font-size: 20px;
  font-weight: bold; 
  color: #333;
  margin-bottom: 3px;
  margin-left: 10%;

}

.feature-description {
  font-size: 14px; 
  color: #333;
  line-height: 1.4;
  margin-left: 10%;
  margin-right: 10%;
}





.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 60px; 
  margin-bottom: 25px;
  align-self: flex-start;
  max-width: 900px;
  width: 100%;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  max-width: 900px;
  width: 100%;
  margin-bottom: 50px;
  
}


.city-card {
  cursor: pointer; 
  transition: transform 0.2s;
  background-color: white;
  border-radius: 15px;
  
  
}

.city-card:hover {
  transform: translateY(-5px); 
}

.city-image-wrapper {
  overflow: hidden; 
  height: 200px;
  margin-bottom: 10px;
  border-radius: 15px 15px 0 0;
}

.city-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.city-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.city-name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 0 0 4px 0;
}

.city-count {
  font-size: 13px;
  color: #888;
}


.excursions-grid {
  display: flex;
  gap: 20px;
}