@font-face {
  font-family: 'Tinkoffsans';
  src: url(assets/fonts/TinkoffSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Tinkoffsans';
  src: url(assets/fonts/tinkoffsans-medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

:root {
  font-family: 'Tinkoffsans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0; 
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}