
.Header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.Header__nav {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}


.Header__logo {
    height: 35px; 
    margin-right: 50px;
}

.Header__nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; 
}

.Header__nav-item {
    margin-right: 25px;
    color: #333;
    font-size: 17px;
    font-family: 'Tinkoffsans', sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

.Header__nav-item:hover {
    color: #000000; 
    font-size: 18px;
}

.Header__LKLink {
    color: #1a73e8;
    text-decoration: none; 
    display: flex;
    padding: 8px 12px;
    cursor: pointer;
}

.Header__LKLink span {
    margin-right: 10px;
}

.Header__LKLink img {
    height: 22px;
    color: #1a73e8;
    filter : invert(29%) sepia(98%) saturate(7473%) hue-rotate(203deg) brightness(95%) contrast(101%);
}